<div class="background-grey">
  <div class="identity-wrapper">
    <div class="identity-container">
      <mat-tab-group>
        <mat-tab label="{{'login.signin' | translate | uppercase}}">
          <div class="sign-container">
            <app-login-form></app-login-form>
          </div>
        </mat-tab>
        <mat-tab label="{{'login.signup' | translate | uppercase}}">
          <div class="sign-container">
            <app-signup-form></app-signup-form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>