<div class="pre-footer-container">
    <div class="pre-footer-section">
        <p><mat-icon class="icon">smartphone</mat-icon></p>
        <p>#DownloadApp</p>
    </div>
    <div class="pre-footer-section">
        <p><mat-icon class="icon"> pin_drop</mat-icon></p>
        <p>#{{ "preFooter.contacts" | translate }}</p>
    </div>
    <div class="pre-footer-section">
        <p><mat-icon class="icon">help_outline</mat-icon></p>
        <p>#{{ "preFooter.help" | translate }}</p>
    </div>
</div>