@import "../../../style/common/variables.scss";

.box__container {
  width: 100%;
  height: 60rem;
  position: relative;
  background-position: center;

  &__info {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 35%;
    left: 15%;

    h2 {
      color: $white;
      text-transform: uppercase;
      text-shadow: 0 0 12px rgba(0, 0, 0, 0.333);
      text-align: left;
      line-height: 1.2;
    }

    p {
      margin: 3rem 0 2rem 0;
      font-size: $medium;
      color: $white;
    }
  }
}

@media screen and (min-width: 900px) {
  .box__container__info {
    top: 50%;
  }
}
