<div class="accordion">
  <mat-accordion class="accordion__summary">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="accordion__title"> {{ title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p class="accordion__answer">{{ description }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <mat-expansion-panel-header>
    <mat-panel-title>
      <h2 className="accordion__title">CIAO TITLE</h2>
    </mat-panel-title>
  </mat-expansion-panel-header> -->
  <!-- <Accordion sx={{ boxShadow: "none" }}>
      <AccordionSummary
        expandIcon={<ExpandMoreIcon />}
        aria-controls="panel1a-content"
        id="panel1a-header"
        className="accordion__summary"
      >
        <h2 className="accordion__title">{t("accordion.description")}</h2>
      </AccordionSummary>
      <AccordionDetails className="accordion__details">
        <p className="accordion__answer">{props.productDescription}</p>
      </AccordionDetails>
    </Accordion> -->
</div>
