$black: #000;
$white: #fff;
$orange: #ee6317;
$red: #d01345;
$green: #018849;
$green-hover: #006637;
$grey-dark: #2d2d2d;
$grey-footer: #4c4c4c;
$grey-light: #eee;
$grey-normal: #525050;
$blue: #0770cf;
$facebook-color: #1976d2;
$instagram-color: #e1306c;
$youtube-color: #ff0000;

$shadow: 0 3px 10px rgb(0 0 0 / 0.2);

$xx-small: 1.024rem;
$x-small: 1.28rem;
$small: 1.6rem;
$medium: 2rem;
$large: 2.5rem;
$x-large: 3.125rem;
$xx-large: 3.906rem;
$xxx-large: 4.883rem;