<div class="homepage-category-cards">
  <div class="category-card">
    <div class="category-card-content-wrapper">
      <h2 class="category-card__content-wrapper__header">
        <a class="category-card__content-wrapper__header__link">{{
          "header.man" | translate | uppercase
        }}</a>
      </h2>
      <app-button
        [buttonStyle]="'default-button'"
        label="look now"
      ></app-button>
    </div>
    <img
      class="category-card__image"
      src="../../../assets/images/homepage-card-category/manTipology.jpeg"
      alt=""
    />
  </div>
  <div class="category-card">
    <div class="category-card-content-wrapper">
      <h2 class="category-card__content-wrapper__header">
        <a class="category-card__content-wrapper__header__link">{{
          "header.woman" | translate | uppercase
        }}</a>
      </h2>
      <app-button
        [buttonStyle]="'default-button'"
        label="look now"
      ></app-button>
    </div>
    <img
      class="category-card__image"
      src="../../../assets/images/homepage-card-category/woman.jpg"
      alt=""
    />
  </div>
  <div class="category-card">
    <div class="category-card-content-wrapper">
      <h2 class="category-card__content-wrapper__header">
        <a class="category-card__content-wrapper__header__link">UNISEX</a>
      </h2>
      <app-button
        [buttonStyle]="'default-button'"
        label="look now"
      ></app-button>
    </div>
    <img
      class="category-card__image"
      src="../../../assets/images/homepage-card-category/unisex.jpg"
      alt=""
    />
  </div>
</div>
