@import "../../../style/common/variables.scss";
@import "../../../style/common/mixin.scss";

.userInfo {
  padding: 2% 4%;

  h1 {
    margin: 5rem 0;
  }

  a {
    color: $grey-normal;
    text-decoration: underline;
  }

  a:hover {
    color: $orange;
  }

  &__navlink {
    display: flex;
    flex-direction: column;

    a {
      margin: 2rem 0;
      text-transform: capitalize;
      font-size: $medium;
    }
  }
}

@media screen and (min-width: 769px) {
  .userInfo {
    h1 {
      margin-top: 0;
    }
    &__navlink {
      align-self: flex-start;
      flex-basis: 30%;
    }
    .outlet {
      @include flex(stretch);
    }
  }
}
